@import "app";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;

  .sub_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: auto;

    .cards_section {
      order: 1;
    }
  }
}

// for tablet devices
@media only screen and (min-width: 768px) {
  .container {
    .cards {
      min-width: 350px;
    }
  }
}

// for laptop devices
@media only screen and (min-width: 1024px) {
  .container {
    .sub_container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;

      .leaderboard {
        order: 1;
        max-width: 400px;
      }

      .cards_section {
        display: flex;
        order: 2;
        display: flex;
        flex-direction: column;
        width: 700px;
        max-width: 400px;

        .cards {
          max-width: 400px;
        }
      }
    }
  }
}

// for desktop devices
@media only screen and (min-width: 1440px) {
  .container {
    .sub_container {
      height: 700px;
    }
  }
}
