$lightblue: #38bdf8;
$darkBlue: #0c4a6e;
$lightGray: #dbdbdb;
$white: #ffffff;

.metrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;

  h2 {
    font-size: 1rem;
  }
}
